# Terraform
.terraform.lock.hcl
**/.terraform/*
terraform.log
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Miscellaneous
**/*.orig
crash.log

# Keys
**/*.pem
**/*.pem.pub

# Ignore platform automation's default output
**/output.json

# IDE
.idea
.eclipse
.history/

# Terragrunt
.terragrunt-cache
terragrunt-debug.tfvars.json
terragrunt.hcl.backup

# MacOS
.DS_Store
